input {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #aaa;

    &.search {
        background-image: url(../assets/search.svg);
        background-position: right 5px center;
        background-size: 20px;
        background-repeat: no-repeat;
        width: 100%;
    }
}

button {
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    flex-shrink: 0;
    background-color: var(--unselected);
    color: var(--unselected-text);
    cursor: pointer;

    &.success {
        background-color: var(--success);
        color: var(--success-text);
    }
    &.danger {
        background-color: var(--danger);
        color: var(--danger-text);
    }
}
